<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="nEXCITIZEN">
    <test name="nEXCITIZEN_TestCase1">
        <classes>
            <class name="com.TestCase.RegistrationandLoginTestCase_Folder.Login_TestCase"></class>
            <class name="com.TestCase.BuildingTestCase_Folder.SidePanelBuildingplan_TestCase"></class>
            <class name ="com.TestCase.BuildingComplainTestCase_Folder.BuildingComplain_TestCase"></class>
            <class name="com.TestCase.BuildingComplainTestCase_Folder.SidePanelBuildingComplain_TestCase"></class>
            
        </classes>
    </test>
    </suite>